{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Add New Question</h2>
    <form method="post" id="questionForm">
      {% csrf_token %}
      <div class="invalid-feedback">{{ form.errors }}</div>
      <!-- Question Text -->
      <div class="form-group">
        <label for="questionText">Question Text</label>
        <input type="text" class="form-control" id="text" name="text" required>
      </div>

      <!-- Question Type -->
      <div class="form-group">
        <label for="questionType">Question Type</label>
        <select class="form-control" id="type" name="type">
          <option value="ST">Short Text</option>
          <option value="LT">Long Text</option>
          <option value="MC">Multiple Choice - Single Answer</option>
          <option value="MM">Multiple Choice - Multiple Answers</option>
        </select>
      </div>

      <!-- Placeholder for Multiple Choice Options -->
      <div id="multipleChoiceOptions" style="display:none;">
        <!-- JavaScript will add options here -->
      </div>

      <button type="submit" class="btn btn-primary">Add Question</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
<script>
    const add_option = (optionsContainer, i) => {
        optionsContainer.innerHTML +=
            '<div class="form-group">' +
            '<label for="option_text' + i + '">Možnost ' + i + '</label>' +
            '<input type="text" class="form-control" id="option_text' + i + '" name="option_text_' + i + '">' +
            '<div class="form-check"><input class="form-check-input" type="checkbox" id="is_correct_' + i + '" name="is_correct_' + i + '">' +
            '<label class="form-check-label" for="is_correct_' + i + '">Správná odpověď</label></div>' +
            '<textarea class="form-control" id="feedback_' + i + '" name="feedback_' + i + '" rows="3" placeholder="Zpětná vazba pro možnost ' + i + '"></textarea></div>';
        return optionsContainer;
    }
    document.getElementById("type").addEventListener("change", function () {
        const type = this.value;
        let optionsContainer = document.getElementById('multipleChoiceOptions');

        if (type === 'MC' || type === 'MM') {
            optionsContainer.innerHTML = "";
            optionsContainer.style.display = "block";

            // Add three sets of option fields
            for (let i = 1; i <= 3; i++) {
                optionsContainer = add_option(optionsContainer, i);
            }
        } else {
            optionsContainer.style.display = 'none';
            optionsContainer.innerHTML = '';
        }
    });
</script>
{% endblock %}
