{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Přidat otázku</h2>
    <div class="card">
      <div class="card-header">
        Zadání otázky
      </div>
      <div class="card-body">
        <form method="post" id="questionForm">
          {% csrf_token %}
          <div class="invalid-feedback">{{ form.errors }}</div>
          
          <!-- Question Text -->
          <div class="form-group">
            <label for="questionText">Text otázky</label>
            <textarea class="form-control" id="text" name="text" required rows="3"></textarea>
          </div>

          <!-- Question Type -->
          <div class="form-group">
            <label for="questionType">Typ</label>
            <select class="form-control" id="type" name="type">
              <option value="ST">Otevřená (krátká)</option>
              <option value="LT">Otevřená (dlouhá)</option>
              <option value="MC">Testová (1 správná možnost)</option>
              <option value="MM">Testová (více správných možností)</option>
            </select>
          </div>
          
          <div id="multipleChoiceOptions" style="display:none;"></div>
          <a class="btn btn-secondary text-white" id="options-add" style="display: none;">Přidat možnosti</a>
          <button type="submit" class="btn btn-primary">Přidat otázku</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% include "partial/question_edit_form_script.html" %}
{% endblock %}
