{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Doplnění zpětné vazby</h2>
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Kvíz</th>
        <th scope="col">Uživatelské jméno</th>
        <th scope="col">Zbývá ohodnotit</th>
        <th scope="col"></th>
      </tr>
      </thead>
      <tbody>
      {% for user_quiz in user_quizzes %}
        <tr>
          <td>{{ user_quiz.question__quiz__title }}</td>
          <td>{{ user_quiz.user__username }}</td>
          <td>{{ user_quiz.feedback_missing }} (<i>z {{ user_quiz.total }}</i>)</td>
          <td>
            <a href="{% url 'admin_feedback' user_quiz.question__quiz__id user_quiz.user__id %}"
               class="btn btn-primary">Otevřít</a>
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4">Na zpětnou vazbu nečekají žádné kvízy.</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}
