{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <h2>Přehled kurzů</h2>
    <ul class="list-group">
      {% for course in courses %}
        <li class="list-group-item">
          <strong>{{ course.title }}</strong>
          <p>{{ course.description }}
            {% if course.attachment %}
              <br>Soubor ke stažení: <a href="{{ course.attachment.url }}">{{ course.filename }}</a>
            {% endif %}
          </p>
          <a href="{% url 'quiz_list' course.id %}" class="btn btn-primary">Zobrazit</a>
          {% if user.is_superuser %}
            <a href="{% url 'course_update' course.id %}" class="btn btn-primary">Upravit kurz</a>
            <a href="{% url 'admin_course_feedback_list' course.id %}" class="btn btn-primary">Zpětná vazba</a>
            <a href="{% url 'course_delete' course.id %}" class="btn btn-danger {% if course.has_answers %}disabled{% endif %}">Delete Course</a>
          {% endif %}
        </li>
      {% empty %}
        <li class="list-group-item">Zatím nejsou vytvořeny žádné kurzy</li>
      {% endfor %}
    </ul>
  </div>
{% endblock %}