{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          {% if question %}
            <div class="card-header">
              Otázka č. {{ question.order }}
            </div>
            <div class="card-body">
              <p class="card-text">Zadání otázky: <em>{{ question.text }}</em></p>
              <form method="post">
                {% csrf_token %}
                <input type="hidden" value="{{ question.id }}" name="question_id">
                {% if question.type == "ST" %}
                  <input type="text" class="form-control" name="answer_text" placeholder="Zadej odpověď">
                {% elif question.type == "LT" %}
                  <textarea class="form-control" name="answer_text" placeholder="Zadej odpověď" rows="4"></textarea>
                {% elif question.type == "MC" %}
                  {% for option in question.option_set.all %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="selected_option" id="option_{{ option.id }}"
                             value="{{ option.id }}" required>
                      <label class="form-check-label" for="option_{{ option.id }}">
                        {{ option.text }}
                      </label>
                    </div>
                  {% endfor %}
                {% elif question.type == "MM" %}
                  {% for option in question.option_set.all %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="option_{{ option.id }}"
                             id="option_{{ option.id }}" value="{{ option.id }}">
                      <label class="form-check-label" for="option_{{ option.id }}">
                        {{ option.text }}
                      </label>
                    </div>
                  {% endfor %}
                {% endif %}
                <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
              </form>
            
              {% if feedback %}
                  <div class="mt-3">
                      <div class="alert alert-{{ feedback_type | default:'info' }}" role="alert">
                          <h4 class="alert-heading">Feedback</h4>
                          <p class="feedback-text">{{ feedback }}</p>
                      </div>
                  </div>
              {% endif %}
            </div>
          {% else %}
            <div class="card-header">
              {{ quiz.title }}
            </div>
            <div class="card-body">
              <p>
                V tomto kvízu už nemáš nezodpovězené otázky.
              </p>
              <a href="{% url 'quiz_list' quiz.id %}" class="btn btn-primary">Zpět</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
