{% extends "base.html" %}

{% block content %}
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="card">
          {% if question %}
            <div class="card-header">
              Otázka č. {{ question.order }}
            </div>
            <div class="card-body">
              <p class="card-text">Zadání otázky: <em>{{ question.text }}</em></p>
              <form method="post" id="question-form">
                {% csrf_token %}
                <input type="hidden" value="{{ question.id }}" name="question_id">
                {% if question.type == "ST" %}
                  <input type="text" class="form-control" name="answer_text" placeholder="Zadej odpověď">
                {% elif question.type == "LT" %}
                  <textarea class="form-control" name="answer_text" placeholder="Zadej odpověď" rows="4"></textarea>
                {% elif question.type == "MC" %}
                  {% for option in question.option_set.all %}
                    <div class="form-check">
                      <input class="form-check-input" type="radio" name="selected_option" id="option_{{ option.id }}"
                             value="{{ option.id }}" required>
                      <label class="form-check-label" for="option_{{ option.id }}">
                        {{ option.text }}
                      </label>
                    </div>
                  {% endfor %}
                {% elif question.type == "MM" %}
                  {% for option in question.option_set.all %}
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="option_{{ option.id }}"
                             id="option_{{ option.id }}" value="{{ option.id }}" 
                             {% if option.id in selected_options_ids %}checked{% endif %}>
                      <label class="form-check-label" for="option_{{ option.id }}">
                        {{ option.text }}
                      </label>
                    </div>
                  {% endfor %}
                {% endif %}
                {% if continue %}
                  {% if next_question %}
                    <a href="{% url 'question' next_question.pk %}" class="btn btn-primary mt-3">Pokračovat</a>
                  {% else %}
                    <a href="{% url 'quiz_list' question.quiz.course.pk %}" class="btn btn-primary mt-3">Dokončit</a>
                  {% endif %}
                {% else %}
                  <button type="submit" class="btn btn-primary mt-3">Odeslat</button>
                  {% if previous_question %}
                    <a href="{% url 'question' previous_question.pk %}" class="btn btn-secondary mt-3">Předchozí</a>
                  {% endif %}
                  {% if next_question %}
                    <a href="{% url 'question' next_question.pk %}" class="btn btn-secondary mt-3">Další</a>
                  {% endif %}
                {% endif %}
              </form>

              <div class="mt-3">
                {% if feedback %}
                  <div class="alert alert-{{ feedback_type | default:'info' }}" role="alert">
                    <h4 class="alert-heading">Zpětná vazba</h4>
                    {% for item in feedback %}
                      {% if item.0 %}<p class="feedback-text">{{ item.0 }}: {% endif %}{{ item.1 }}</p>
                    {% endfor %}
                    {% if missing > 0 %}
                      <p class="feedback-text">Je třeba označit alespoň jednu další možnost.</p>
                    {% endif %}
                  </div>
                {% endif %}
                <div class="alert alert-danger" role="alert" style="display: none" id="alert-select-one-option">
                  <p class="feedback-text">Prosím vyber alespoň jednu možnost.</p>
                </div>
              </div>
            </div>
          {% else %}
            <div class="card-header">
              {{ quiz.title }}
            </div>
            <div class="card-body">
              <p>
                V tomto kvízu už nemáš nezodpovězené otázky.
              </p>
              <a href="{% url 'quiz_list' quiz.id %}" class="btn btn-primary">Zpět</a>
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts %}
  {% if question.type == "MM" %}
  <script>
      document.getElementById('question-form').addEventListener('submit', (event) => {
          if (document.querySelector('.form-check-input:checked') == null) {
              event.preventDefault();
              const alert = document.getElementById("alert-select-one-option");
              alert.style.display = null;
          }
      });
  </script>
  {% endif %}
{% endblock %}