{% extends "base.html" %}
{% load custom_filters %}

{% block content %}
  <div class="container mt-5">
    <h2>{{ quizzes.first.course.title }}</h2>

    {% for quiz in quizzes %}
      <div class="card mb-3">
        <div class="card-body">
          <h5 class="card-title">{{ quiz.title }}</h5>
          
          {% if quiz.deadline %}
            <p class="card-text">Termín pro dokončení: {{ quiz.deadline }}</p>
          {% endif %}
        
          {% if quiz_completion|get_item:quiz.id %}
            <a href="{% url 'quiz_review' quiz.id %}" class="btn btn-primary">Zobrazit výsledky</a>
          {% endif %}
          {% if quiz_questions|get_item:quiz.id %}
            <a href="{% url 'question' quiz_questions|get_item:quiz.id %}" class="btn btn-primary">Otevřít kvíz</a>
          {% endif %}
          {% if user.is_superuser %}
            <a href="{% url 'question_add' quiz.id %}" class="btn btn-primary">Přidat otázku</a>
            <a href="{% url 'quiz_update' quiz.id %}" class="btn btn-secondary">Upravit kvíz</a>
            <a href="{% url 'admin_quiz_list' quiz.id %}" class="btn btn-secondary">Zpětná vazba</a>
            <a href="{% url 'admin_quiz_review' quiz.id %}" class="btn btn-secondary">Přehled otázek</a>
            <a href="{% url 'quiz_delete' quiz.id %}" class="btn btn-danger {% if quiz.has_answers %}disabled{% endif %}">Delete Quiz</a>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>No quizzes available</p>
    {% endfor %}
  </div>
{% endblock %}
