{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Add New Question</h2>
    <form method="post" id="questionForm">
      {% csrf_token %}
      <div class="invalid-feedback">{{ form.errors }}</div>
      <!-- Question Text -->
      <div class="form-group">
        <label for="questionText">Question Text</label>
        <input type="text" class="form-control" id="text" name="text" required value="{{ object.text }}">
      </div>

      <!-- Question Type -->
      <div class="form-group">
        <label for="questionType">Question Type</label>
        <select class="form-control" id="type" name="type">
          <option value="ST">Short Text</option>
          <option value="LT">Long Text</option>
          <option value="MC">Multiple Choice - Single Answer</option>
          <option value="MM">Multiple Choice - Multiple Answers</option>
        </select>
      </div>

      <!-- Placeholder for Multiple Choice Options -->
      <div id="multipleChoiceOptions" style="display:none;">
        <!-- JavaScript will add options here -->
      </div>

      <button type="submit" class="btn btn-primary">Přidat otázku</button>
    </form>
  </div>
{% endblock %}

{% block scripts %}
  {% include "partial/question_edit_form_script.html" %}
{% endblock %}
