{% extends 'base.html' %}

{% block content %}
  <div class="container mt-5">
    <h2>Výsledek kvízu</h2>
    {% for item in answers %}
      <div class="card mb-3">
        <div class="card-header">
          Otázka {{ item.question.order }}
        </div>
        <div class="card-body">
          <h5 class="card-title">Zadání otázky</h5>
          <p class="card-text">{{ item.question.text }}</p>
          <h6 class="card-title">Odpověď</h6>
          <p class="card-text">
            {% autoescape off %}
              {{ item.user_answer }}
            {% endautoescape %}
          </p>
          {% if item.answer_feedback %}
            <h6 class="card-title">Zpětná vazba</h6>
            <p class="card-text">
              {% autoescape off %}
                {{ item.answer_feedback }}
              {% endautoescape %}
            </p>
          {% endif %}
        </div>
      </div>
    {% empty %}
      <p>No questions to review.</p>
    {% endfor %}
  </div>
{% endblock %}
