{% extends 'base.html' %}
{% load custom_filters %}

{% block content %}
  <div class="container mt-5">
    <h2>Výsledek kvízu</h2>
    {% for answer in answers %}
      <div class="card mb-3">
        <div class="card-header">
          Otázka {{ answer.question.order }}
        </div>
        <div class="card-body">
          <p class="card-text">{{ answer.question.text|convert_markdown_to_html|safe }}</p>
          <h6 class="card-title">Tvoje dpověď</h6>
          <p class="card-text">
            {% autoescape off %}
              {{ answer.user_answer }}
            {% endautoescape %}
          </p>
          {% if answer.answer_feedback %}
            <h6 class="card-title">Zpětná vazba</h6>
            <p class="card-text">
              {% autoescape off %}
                {{ answer.answer_feedback }}
              {% endautoescape %}
            </p>
          {% endif %}
        </div>
        {% if answer.admin_feedback_on %}
          <div class="card-footer">
            <small class="text-muted">Zpětnou vazbu zadal(a) {{ answer.admin_feedback_by.username }} dne {{ answer.admin_feedback_on }}</small>
          </div>
        {% endif %}
      </div>
    {% empty %}
      <p>No questions to review.</p>
    {% endfor %}
  </div>
{% endblock %}
