{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div class="container mt-5">
    <div class="card">
      <div class="card-header">
        Změnit heslo
      </div>
      <div class="card-body">
        <form method="post" id="questionForm" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="invalid-feedback">{{ form.errors }}</div>
          
          {{ form|crispy }}
          
          <button type="submit" class="btn btn-primary">Uložit</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
